/.embold
*.zip
*.rar
/Mods WIP folder/Tables/Scripts/Entities
/Mods WIP folder/Perks
/Mods WIP folder/QoL
/Mods WIP folder/Tables
/Mods WIP folder/SDK
/Mods WIP folder/User Interface
/Mods WIP folder/Archery
/Mods WIP folder/KingdomComeDeliverance/Asset_resources
/Mods WIP folder/KingdomComeDeliverance/Bin
/Mods WIP folder/KingdomComeDeliverance/Data
/Mods WIP folder/KingdomComeDeliverance/Data_reference
/Mods WIP folder/KingdomComeDeliverance/Editor
/Mods WIP folder/KingdomComeDeliverance/Engine
/Mods WIP folder/KingdomComeDeliverance/Localization
/Mods WIP folder/KingdomComeDeliverance/outputs
/Mods WIP folder/KingdomComeDeliverance/Tools
/Mods WIP folder/KingdomComeDeliverance/user_editor
/Mods WIP folder/KingdomComeDeliverance/user_shadercachegen
/Mods WIP folder/KingdomComeDeliverance/Mods/SOLIDHELMETVISORS1485121737430681
/Mods WIP folder/KingdomComeDeliverance/Mods/EarlyBirdNPCrescheduler7262101640796373
/Mods WIP folder/KingdomComeDeliverance/Mods/MGsStayCleanLongerGetDirtyGradually16390161707663382
/Mods WIP folder/KingdomComeDeliverance/Mods/30FPSCutsceneFixV21227201724448782
Mods WIP folder/TimedQuestIndicator-1780-V1-1-1736764991.7zip
/Mods WIP folder/KingdomComeDeliverance/Mods/VolumetricFogShadows800111563786542
Mods WIP folder/KingdomComeDeliverance/modding_eula.txt
Mods WIP folder/KingdomComeDeliverance/mod_status.xml
/Mods WIP folder/KingdomComeDeliverance/Mods/DrinkSoundEffects111730111728087257
/Mods WIP folder/KingdomComeDeliverance/Mods/TimeHDupdatedv12zip1618121714429516
/Mods WIP folder/KingdomComeDeliverance/Mods/Riposte17651021735871267
/Mods WIP folder/KingdomComeDeliverance/Mods/Persistentarrows1743121729568337/Data
Mods WIP folder/KingdomComeDeliverance/Mods/mod_order.txt
/Mods WIP folder/KingdomComeDeliverance/Mods/MoreResponsiveTargeting831041
/Mods WIP folder/KingdomComeDeliverance/Mods/Persistentarrows1743121729568337
Mods WIP folder/KingdomComeDeliverance/error.dmp
Mods WIP folder/KingdomComeDeliverance/game_levelloadtime.log
Mods WIP folder/KingdomComeDeliverance/KCD2.trace
Mods WIP folder/KingdomComeDeliverance/KCD42.trace
/Mods WIP folder/KingdomComeDeliverance/logbackups
